---
import { formatDate } from '../lib/helpers';
import type { MarkdownLayoutProps } from 'astro';
import BasicLayout from './BasicLayout.astro';

type Props = {
  frontmatter: {
    title: string;
    description: string;
    pubDate: Date;
    minutesRead?: string;
  };
};

const { id } = Astro.params;
const { frontmatter } = Astro.props;
---

<BasicLayout
  frontmatter={frontmatter}
  slug={id}
  page='blog'
  title={`Ray - ${frontmatter.title}`}
  description={frontmatter.description}
>
  <div
    slot='loader'
    class='loader bg-darkslate-700 text-neutral-50 text-3xl font-black uppercase flex justify-center items-center w-screen h-screen z-50 fixed top-0 bottom-0 right-0 left-0'
  >
  </div>
  <main class='mx-auto max-w-3xl w-full h-screen p-8 text-neutral-100'>
    <a
      href='/blog'
      class='text-white bg-neutral-900 hover:bg-neutral-800 px-4 py-2 border-1 border-solid border-neutral-600 rounded-lg mb-8'
      >Back</a
    >
    <div class='my-10'>
      <h1 class='text-5xl font-semibold'>{frontmatter.title}</h1>
      <div class='flex justify-between pt-4 text-gray-500 text-sm'>
        <p>{formatDate(frontmatter.pubDate)}</p>
        <p>{frontmatter.minutesRead}</p>
      </div>
    </div>
    <article class='prose prose-p:text-primary-500 prose-slate prose-invert'>
      <slot />
    </article>
  </main>
</BasicLayout>
